# This is an example configuration file that documents all the options.

# This is the configuration for your torrent_clients. For now, only qBittorrent adn rTorrent is supported
torrent_clients:
    # qBittorrent parameters
    qbittorrent:
       host: "http://localhost:8080"
       username: "username"
       password: "password"
    rTorrent:
       host: "http://localhost:8080"
       username: "username"
       password: "password"
       auth: false

# This is the configuration for your indexer managers. For now, only Prowlarr is supported
indexer_managers:
  # prowlarr parameters
  prowlarr:
    host: "http://localhost:9696"
    api_key: "api_key"


# Categories
# Note: Not all torrent client use the term "categories". For example in rTorrent, it will be label
categories:
  - Movies
  - TvShow

# Trackers parameters
trackers:
  # <Tracker URL Keyword>:    # <MANDATORY> This is the keyword in the tracker url
  # <MANDATORY> Set indexer_managers to use for this tracker and theirs options.
  #   indexer_managers:
  #     <OPTIONAL> Will use prowlarr as indexer_manager.
  #     prowlarr:
  #         <MANDATORY> Set the indexer_id for this tracker in prowlarr.
  #         indexer_id: 1
  # <OPTIONAL> Will limit the search on torrents in this/these category/ies. Can be a list. Can only contain categories listed in "cat" above.
  #   categories: Movies
  # <OPTIONAL> Will ignore this tracker for searching on tracker. The tracker will only be used for searching on torrent clients
  #   ignore_searching: false
  animebytes.tv:
    indexer_managers:
      prowlarr:
        indexer_id: 1
    categories: TvShow
    ignore_searching: true
  avistaz:
    indexer_managers:
      prowlarr:
        indexer_id: 2
    categories:
        - Movies
        - TvShow

notifiers:
  # You can setup multiple notifiers (Discord or webhook for now)
  discord:
    # Discord notifications:
    # Set value to a valid discord webhook URL
    # Leave Empty/Blank to disable
    run_start: None
    run_end: https://my_discord_webhook.com/

  webhook:
    # Webhook notifications:
    # Set value to a valid webhook URL
    # Leave Empty/Blank to disable
    run_start: https://my_webhook.com/
    run_end: https://my_webhook.com/